/*
Gato Homepage 2015
Author: Michael Edelstone
edelstone@txstate.edu or michael.edelstone@gmail.com
*/

/* Fonts */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {font-family: 'Univers W01', Helvetica, Calibri, Arial, sans-serif;}
.use-garamond {font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif; font-weight: 400;}

/* Base Styles */

html {font-size: 62.5%; position: relative; min-height: 100%;}
body {font-size: 100%; height: auto; min-height: 100%; font-weight: 100; text-rendering: optimizeLegibility; background-color: #501214; color: #222222; font-size: 1.6rem;}
::-moz-selection {background: #E8E3DB; text-shadow:none}
::selection {background: #E8E3DB; text-shadow:none}
img {max-width: 100%; display: block;}
figure {margin: 0; background: #e8e3db;}
figcaption {padding: 2.2rem 2rem;}
figcaption p {margin: 0;}
h2 {font-size: 2.8rem; margin-bottom: 4rem; margin-top: 0.1rem; font-weight: 400;}
h2 a {padding: 0; margin: 0; color: #222222; text-decoration: none; padding-bottom: 2.8rem;}
h2 a:hover {background: transparent;}
.layout {overflow: hidden;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.reverse-float {float: right;}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.layout {background-color: #FFFFFF;}
.image-link {padding: 0; margin: 0; display: inline-block;}
.image-link-2 {display: block; padding: 0; margin: 0; -webkit-transition: opacity 0.8s ease; -moz-transition: opacity 0.8s ease; -o-transition: opacity 0.8s ease; transition: opacity 0.8s ease;}
.image-link:hover {background: transparent;}
.image-link-2:hover {background: transparent; opacity: .85;}
a {-webkit-box-decoration-break: clone; box-decoration-break: clone; padding: 3px 5px; margin: -3px -5px; color: #005481; text-decoration: underline;}
a:hover {background: #E8E3DB;}
.constrain {max-width: 1200px; margin: auto;}
.hover-fx-1 {-webkit-transition: all 0.2s cubic-bezier(0, 0.5, 0.25, 1); -moz-transition: all 0.2s cubic-bezier(0, 0.5, 0.25, 1); -o-transition: all 0.2s cubic-bezier(0, 0.5, 0.25, 1); transition: all 0.2s cubic-bezier(0, 0.5, 0.25, 1);}
.hover-fx-2 i {position: relative;}
.hover-fx-2:hover i {animation: chevron 1.2s ease-in-out infinite alternate;}
@keyframes chevron { from {right: 0;} to {right: .5rem;} }
.hover-fx-3 {-webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; transition: all 0.8s ease;}
.hover-fx-4 {-webkit-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1); -moz-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1); -o-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1); transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1);}
.hover-fx-5 {-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}

/* Emergency Alerts */

.emergency {display: none; width: 100%; background: #b30e1b; background: repeating-linear-gradient(-135deg, #6B0810, #6B0810 1.25rem, #8F0B16 1.25rem, #8F0B16 2.5rem); text-align: center; padding: 0 0 1rem 0; color: #FFFFFF; line-height: 2.8rem;}
.emergency-bg {background: #b30e1b; background: rgba(179,14,27,.6); padding: 0 0 1rem 0; margin: 0 0 -1rem 0; cursor: pointer;}
.emergency-bg:hover {background: #8F0B16; background: rgba(179,14,27,.8)}
.emergency-constrain {max-width: 50%;}
.alert-top {font-size: 3.2rem; font-weight: 400;}
.alert-top i {margin-right: 1rem;}
.alert-message {font-size: 2rem; text-decoration: underline; margin: -1rem 0 2.5rem 0;}
.alert-timestamp {font-size: 1.3rem;}

/* Super User Menu */

.super-user-menu {width: 100%; background: #6a5638;}
.super-list {font-size: 1.1rem; letter-spacing: 1px; margin: 0; padding: 0; text-transform: uppercase; list-style-type: none; font-weight: 400;}
.super-list-left {float: left; margin-left: -1.4rem;}
.super-list-right {float: right; margin-right: -1.4rem;}
.super-list li {float: left;}
.super-list a {color: #FFF; text-decoration: none; margin: 0; padding: 1.4rem; display: inline-block;}
.super-list a:hover {background: #79674C; text-decoration: none;}
.super-list i {font-size: 1.5rem; line-height: 0; margin-left: 0.6rem; vertical-align: middle;}
.more-tools:hover .super-list-sub {display: block; opacity: 1; visibility: visible;}
.more-tools {position: relative;}
.more-tools:hover {background: #79674C;}
.super-list-sub {display: none; opacity: 0; visibility: hidden; position: absolute; width: 100%; top: 100%; left: 0; padding: 0; margin: 0; list-style-type: none; background: #6a5638; z-index: 9999; letter-spacing: 0;}
.super-list-sub li {width: 100%;}
.super-list-sub a {text-transform: none; display: block; padding: 0.6rem 1.4rem;}
.super-list-sub-first {padding-top: 1.4rem !important;}
.super-list-sub-last {padding-bottom: 1.4rem !important;}
.super-list-sub a:hover {background: transparent; text-decoration: underline;}

/* Header, Logo, Search */

.header {width: 100%; background: #e8e3db; background: -moz-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8e3db), color-stop(100%, #d1c7b7)); background: -webkit-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -o-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -ms-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: linear-gradient(to bottom, #e8e3db 0%, #d1c7b7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e3db', endColorstr='#d1c7b7', GradientType=0 ); border-bottom: 1px solid #6a5638; height: 184px;}
.header-content {position: relative; padding: 3.5rem 0; height: 100%;}
.primary-logo img {max-width: 27rem;}
.txst-search {overflow: auto; position: relative; top: 1.35rem;}
.search-bar {padding-bottom: .4rem; float: right; width: 30rem; border-bottom: 2px solid #6a5638; position: relative;}
.search-bar .search {border: none; width: 90%; background: transparent; font-size: 1.6rem; color: #222222; font-weight: 400;}
::-webkit-input-placeholder {color: #887860; font-weight: 100;}
::-moz-placeholder {color: #6a5638; font-weight: 100;}
input[type="search"]:focus, button {outline: none;}
.magnifier {background: transparent; color: #6a5638; position: absolute; right: 0; border: none; font-size: 1.7rem; padding: 0;}

/* Main Navigation */

.main-nav {position: absolute; bottom: 1.2rem; right: 0.5rem;}
.main-nav-list {list-style-type: none; padding: 0; margin: 0;}
.main-nav-list li {display: inline-block;}
.main-nav-link{display: block; color: #501214; text-decoration: none; font-weight: 700; font-size: 2rem; padding: 2.8rem;}
.main-nav-link:hover {background: transparent;}
.main-nav-end {padding-right: 0 !important;}
.main-nav-start {padding-left: 0 !important;}
.future-link:hover .future-menu, .current-link:hover .current-menu, .faculty-link:hover .faculty-menu, .alumni-link:hover .alumni-menu {opacity: 1; visibility: visible;}
.drop-menu {width: 500% !important; margin-left: -220.5%; background: #6a5638; padding: 0; position: absolute; top: 7rem; left: 0; width: 100%; opacity: 0; visibility: hidden; z-index: 9999; box-shadow: 0 50px 60px -50px #000; transition: all .3s cubic-bezier(0, 0.5, 0.25, 1) .1s; padding: 1rem 0;}
.future-menu {padding-bottom: 0;}
.drop-menu-content {max-width: 1200px; margin: auto; font-size: 0;}
.drop-menu:after {border: solid transparent; border-bottom-color: #6a5638; border-width: 0rem 2rem 2rem 2rem; content: ""; position: absolute; top: -1rem; cursor: pointer;}
.future-menu:after {left: 45.3%;}
.current-menu:after {left: 50.3%;}
.faculty-menu:after {left: 55.1%;}
.alumni-menu:after {left: 60.8%;}
.sub-nav-content {font-size: 1.4rem; padding: 0 4rem; color: #FFFFFF; margin: 5rem 0;}
.sub-nav-caption {font-size: 1.5rem; font-weight: 400; margin: 1.2rem 0 0 0;}
.sub-nav-content a {color: #ffffff; text-decoration: none; padding: 5px; margin: -5px;}
.sub-nav-content a:hover {background: #501214;}
.sub-nav-guide {text-transform: uppercase; margin-bottom: -.4rem;}
.sub-nav-future-1, .sub-nav-current-1, .sub-nav-faculty-1, .sub-nav-alumni-1 {padding-left: 0; padding-right: 4rem;}
.sub-nav-future-2, .sub-nav-current-2, .sub-nav-faculty-2, .sub-nav-alumni-2 {font-weight: 400;}
.sub-nav-future-3, .sub-nav-current-3, .sub-nav-faculty-3, .sub-nav-alumni-3 {border-left: 2px solid #887860;}
.sub-nav-future-4, .sub-nav-current-4, .sub-nav-faculty-4, .sub-nav-alumni-4 {padding-right: 0;}
.grad-guide {margin-top: 4rem;}
.sub-nav-button {text-align: center; margin: 3rem 0 0 0 !important; padding: 1.5rem 3rem !important; border: 1px solid #fff; text-transform: uppercase; display: inline-block; border: 3px solid #887860; border-radius: .3rem;}
.sub-nav-button:hover {border-color: #bbab92;}
.sub-nav-button-2 {margin-top: 1rem !important;}
.sub-nav-button-3 {padding: 1.1rem 3rem !important;}
.sub-nav-button i {font-size: 2.5rem; margin-left: 1.5rem; vertical-align: sub;}
.sub-nav-content ul {padding-left: 1rem;}
.sub-nav-current-2 ul, .sub-nav-faculty-2 ul, .sub-nav-alumni-2 ul {padding-left: 0;}
.sub-nav-content li {line-height: 2rem; margin: 2rem 0; display: block;}
.drop-caption-link {text-decoration: underline !important;}
.drop-caption-link:hover {text-decoration: none !important; background: transparent !important;}

/* Slider */

.slider-container {min-height: 600px; position: relative; background: #501214;}
.slider-image {opacity: 0; background: #501214 url("../images/slider-600-1.jpg") no-repeat 50% 45%; background-size: cover; position: absolute; height: 100%; width: 100%;}
.slider-overlay {position: relative; height: 100%; width: 100%;}
.slider-overlay-left {width: 50%; float: left; position: relative; left: -3rem; opacity: 0;}
.slider-overlay-right {width: 50%; text-align: right; position: absolute; opacity: 0; bottom: 0; right: 0;}
.slider-overlay-content {position: absolute; width: 100%; bottom: 5.5rem;}
.slider-overlay-left a {margin: 0; padding: 0;}
.messaging {color: #ffffff; background: #501214; text-decoration: none; font-size: 3.2rem; padding: 1.5rem 3rem 1.2rem 2rem !important; font-weight: 400; border-bottom: 3px solid #400e10; display: inline-block; line-height: 4.2rem;}
.messaging:hover {background: #622a2b;}
/*.messaging:active {border-bottom: none;} */
.play-overlay {-webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 8rem; background: #501214; position: absolute; width: 6.5rem; height: 6.5rem; margin-top: -7.5rem; cursor: pointer; border: 3px solid #400e10;}
.play-overlay:hover {-webkit-transform: scale(1.15); -moz-transform: scale(1.15); -ms-transform: scale(1.15); -o-transform: scale(1.15); transform: scale(1.15); background: #622a2b;}
.play-overlay:active {background: #501214;}
.play-overlay:after {left: 0; right: 0; margin: 0 auto; position: absolute; border: solid transparent; border-left-color: #fff; border-width: 1rem 0 1rem 1.6rem; content: ""; height: 0; width: 0; position: absolute; top: 50%; margin-top: -1rem; left: .4rem;}
.slider-overlay-right a {margin: 0; padding: 0; color: #ffffff; font-size: 1.8rem; background: rgba(0,0,0,0.6); padding: 1rem 1.4rem; margin-left: 0.3rem; display: inline-block;}
.slider-overlay-right a:hover {background: #000000;}

/* Top Links */

.top-links {width: 100%; background: #363534; text-align: center;}
.top-links a {margin: 0; padding: 0; color: #FFFFFF; font-weight: 700; text-decoration: none; display: block; font-size: 2rem; padding: 1.5rem;}
.top-links a:hover {background: #262524; color: #FFFFFF;}

/* Page Content */

.page-content {width: 100%; background: #FFF; line-height: 2.2rem;}
.content-row {padding: 5rem 0 6rem 0;}
.content-area {position: relative;}
.content-area-left {padding-right: 6rem;}
.content-area-right {padding-left: 6rem;}
.page-content .button-chevron {margin-left: 1.8rem;}
.row-1 {background: #FFFFFF;}
.row-2 {background: #e8e3db; padding-bottom: 4rem;}
.row-3 {background: #FFFFFF;}
.row-4 {background: #e8e3db;}

/* News */

.news-date {font-size: 1.4rem; font-style: italic; padding-bottom: 1.2rem;}
.news-headline {font-weight: 700; font-size: 2rem; line-height: 2.6rem;}
.news-headline a {color: #501214;}
.news-headline a:hover {text-decoration: none;}
.news-links {padding: 2rem;}
.news-links p {line-height: 2.4rem;}
.news-jump {text-transform: uppercase; font-weight: 700; padding: 0 2rem; margin-top: .5rem;}
.news-jump a {text-decoration: none; display: inherit;}
.jump-right {float: right;}

/* Events and Important Dates */

#tabs ul {padding: 0; margin: 0; list-style-type: none; overflow: hidden;}
#tabs li {display: inline-block;}
#tabs .ui-state-default a {color: #767676; outline: none;}
#tabs .ui-state-active a {color: #222222; text-decoration: underline;}
#tabs .ui-state-hover a {color: #222222;}
.events-tab {margin-right: 5rem;}
.events-container {background: #501214; padding: 4rem; color: #FFFFFF;}
.events-container a {color: #FFFFFF;}
.events-container a:hover {background: transparent; text-decoration: none;}
.event-block {overflow: hidden; margin-bottom: 4rem;}
.cal-icon, .cal-icon-2 {text-align: center; margin-right: 3rem; float: left; width: 8.5rem;}
.cal-icon-2 {background: #6a5638;}
.cal-icon p {margin: 0; display: inline-block; width: 100%;}
.cal-icon a {text-decoration: none; display: block; margin: 0;}
.cal-icon-2 a {font-weight: 400; text-decoration: none; display: block; padding: .8rem 0; margin: 0; line-height: 2.3rem;}
.cal-date a {font-size: 4.2rem; padding: 2rem 0 1.8rem 0;}
.cal-date {background: #622a2b;}
.cal-month a {text-transform: uppercase; font-weight: 400; font-size: 1.3rem; letter-spacing: 1px; background: #6a5638; padding: .5rem 0 .3rem 0; border-bottom: 1px solid #887860;}
.cal-month a:hover {background: #6a5638;}
.event-title a {font-size: 2rem; font-weight: 700;}
.event-time {margin-top: -0.5rem;}
.cal-range {margin: 0;}
.range-start, .range-to, .range-end {display: block;}
.range-to {font-size: 1.3rem;}
.more-events {display: block; text-decoration: none; text-transform: uppercase; font-weight: 700; text-align: center; background: #622a2b; color: #FFFFFF !important; padding: 1.8rem; margin: 0; border-radius: 0.3rem; border: 3px solid #622a2b;}
.more-events:hover {background: #501214 !important;}
.more-imp-dates {margin-top: 2.9rem;}
.cal-jumps {margin-top: 3.5rem; font-size: 1.4rem;}
.cal-jump-header {font-weight: 700;}
.cal-jumps ul {text-align: center;}
.cal-jumps li {margin-right: 2.5rem;}
.fade-bg {background: #501214;}
.cal-icon-3 {margin-right: 2rem; position: relative; right: .5rem; z-index: 1;}
.cal-icon-3 .cal-date {background: #501214;}
.cal-icon-3 .cal-date a {padding-top: 0.5rem;}
.cal-icon-3 .cal-month {vertical-align: super;}
.cal-icon-3 .cal-month a {background: #501214; border-bottom: none;}
.cal-icon-3 .cal-month a:hover {background: #501214;}
.imp-date-block .event-title {position: relative; top: 0.5rem; z-index: 0;}
.imp-date-block {margin-bottom: 1.8rem;}

/* Research */

.research {position: relative;}
.research-slider {z-index: 1; background: #d1c7b7; position: relative;}
.research-headline {padding-bottom: 1.2rem; font-size: 2rem; line-height: 2.6rem;}
.research-headline a {color: #501214; font-weight: 700;}
.research-headline a:hover {background: transparent; text-decoration: none;}
.nav-dots {position: relative; text-align: center; font-size: 1.1rem; color: #d1c7b7;}
.nav-dots i {margin: auto 0.6rem; cursor: pointer;}
.nav-dots i:hover {color: #222222;}
.active-dot {color: #501214;}
.research-play {z-index: 2; background: #501214; border: 3px solid #400e10; left: 39.5%; bottom: 53%;}
.research-play:hover {background: #622a2b;}
.research-play:active {background: #501214;}
.research .slider-overlay-right {z-index: 0; position: absolute; top: 2rem; right: 0; margin-right: 6rem;}
.research .slider-overlay-right a {margin-left: -0.3rem; background: #d1c7b7; color: #363534;} 
.research .slider-overlay-right a:hover {background: #6a5638; color: #ffffff;}
.gallery_link, .primary_link {margin: 0; padding: 0;}

/* Pride, BAB, RS */

.pride-image {position: relative;}
.pride-overlay {position: absolute; height: 100%; width: 100%; top: 0; background: rgba(106,86,56,.8); cursor: pointer; display: flex; flex-direction: column; justify-content: center;}
.pride-overlay:hover {background: rgba(106,86,56,.55);}
.bab {margin-bottom: 3rem;}
.pride-image p {top: .5rem;}
.pride-overlay p {position: relative; color: #FFFFFF; font-size: 4.2rem; font-weight: 400; text-align: center; text-shadow: 0 0 1.5rem #6a5638;}

/* Social Media */

.tri-column .content-area-left {padding-right: 2.5rem;}
.tri-column .content-area-center {padding: 0 2.5rem;}
.tri-column .content-area-right {padding-left: 2.5rem;}
.social-upper {min-height: 42rem; overflow: auto;}
.slideshow {min-height: 42rem;}
.social-lower {border-bottom: 3px solid #6a5638; position: relative;}
.social-lower p {margin: 0; text-align: left;}
.timestamp {font-size: 1.3rem; color:#767676; text-transform: uppercase; font-weight: 400;}
.social-area-icon {color: #6a5638; font-size: 3rem; position: absolute; right: 0; bottom: 0.1rem;}
.social-area-icon a {color: #6a5638; display: block; padding: 0; margin: 0;}
.social-area-icon a:hover {background: transparent; color: #501214;}
.instagram .social-area-icon a:hover {color: #3f729b;}
.twitter .social-area-icon a:hover {color: #55acee;}
.facebook .social-area-icon a:hover {color: #3b5998;}
.ig-image {display: block; position: relative; overflow: hidden;}
.hidden-caption {position: absolute; background: #6a5638; background: rgba(106,86,56,0.9); color: white; padding: 1rem 2rem; opacity: 0; font-size: 1.4rem;}
.ig-image:hover .hidden-caption {opacity: 1;}
.hidden-caption:before {bottom: 1rem; left: 1rem; }
.ig-image .hidden-caption {left: 0; bottom: -30%;}
.ig-image:hover .hidden-caption {bottom: 0;}
.hidden-caption a {color: #FFF; padding: 0; margin: 0;}
.hidden-caption a:hover {text-decoration: none; background: transparent;}
.hidden-caption .source-link {margin-top: 1rem; display: block;}
.twitter {text-align: center;}
.twitter-slide {width: 100% !important; height: 100% !important;}
.twitter-handle a {text-decoration: none; padding: 1px 5px 1px 0; margin: -1px -5px;}
.twitter-handle a:hover {text-decoration: none;}
.twitter-handle {font-size: 3.2rem; font-weight: 700;}
.twitter-name {font-size: 1.3rem; color: #767676; text-transform: uppercase; margin-top: -2.4rem; font-weight: 400;}
.tweet {font-size: 2.4rem; line-height: 3.6rem; margin-top: 5rem; font-weight: 100;}
.fb-content {padding: 0rem 1rem;}
.solo-bailout {position: relative; top: 3rem; text-align: right;}
.solo-bailout a {text-transform: uppercase; font-weight: 700; text-decoration: none;}
.hide-timestamp {visibility: hidden;}
.twitter-timestamp {position: absolute; bottom: -2.3rem; left: 0;}

/* President */

.pres-message {margin-top: 2.2rem;}
.pres-message a, .pres-updates a {padding: 0; margin: 0; color: #501214;}
.pres-message a:hover, .pres-updates a:hover {background: transparent; text-decoration: none;}
.pres-bio {margin-top: 3.5rem; line-height: 2.8rem;}
.pres-quote {font-weight: 700; margin: 0;}
.president .solo-bailout a {color: #501214;}
.president .solo-bailout a:hover {background-color: #d1c7b7;}
.pres-updates-content {font-size: 1.4rem; background: #d1c7b7; padding: 2rem 3rem; min-height: 23.5rem;}
.pres-updates-content h3 {font-size: 1.6rem;}
.pres-updates ul {padding: 0 1.8rem;}
.pres-updates li {margin-bottom: 1rem;}

/* Primary Footer */

.footer {width: 100%;}
.primary-footer {width: 100%; background: #6a5638; color: #FFFFFF; padding: 2rem 0 4rem 0; font-size: 1.3rem; line-height: 2.2rem;}
.primary-footer a {color: #FFFFFF; text-decoration: none; padding: 5px; margin: -5px;}
.primary-footer a:hover {background: #501214; text-decoration: none;}
.footer-btt {text-align: center; margin-top: -.5rem;}
.top {display: block; margin-top: -.3rem;}
.btt {padding: 1rem; margin: 0; text-transform: uppercase; font-weight: 400; letter-spacing: 1px; display: inline-block;}
.btt:hover {background: transparent !important;}
.btt i {font-size: 1.8rem; margin-bottom: -1rem;}
.contact-header {font-size: 2.4rem; letter-spacing: 1px; margin: .5rem auto 2.5rem auto}
.contact-header a:hover {background: transparent;}
.contact-info {letter-spacing: 1px;}
.primary-footer-links {padding: 0; list-style-type: none; margin: 0; text-align: right; line-height: 3.2rem; letter-spacing: 1px;}
.apply-now {letter-spacing: 1px; margin-top: 3.2rem !important; padding: 1.5rem 6rem !important; text-transform: uppercase; display: inline-block; border: 3px solid #887860; border-radius: .3rem; font-weight: 400; float: right; font-size: 1.5rem;}
.apply-now:hover {border-color: #bbab92;}
.footer-logo {margin: 7.5rem auto 0 auto; max-width: 28rem;}
.footer-logo a {padding: 0; margin: 0; display: block;}
.footer-logo a:hover {background: transparent !important;}
.u-social {font-size: 2.4rem;}
.u-social a {margin: -2px -6px -2px -6px; padding: 2px 6px 2px 6px; margin-right: 0.5rem; border-radius: 5px;}

/* Legal Footer */

.legal-footer {width: 100%; background: #501214; padding: 6rem 0 4rem 0;}
.legal-footer ul {margin: 0; list-style-type: none; padding: 0 2rem;}
.quick-links {padding-left: 0 !important;}
.legal-3 {padding-right: 0 !important;}
.legal-footer a {margin: 0; padding: 0; font-size: 1.2rem; text-decoration: none;}
.legal-footer a:hover {background: transparent; text-decoration: underline;}
.quick-links a {color: #ffffff;}
.legal-links a {color: #bbbbbb;}
.member-statement {max-width: 32rem; margin: 5rem auto 0 auto;}
.member-statement a {padding: 0; margin: 0; display: block;}

/* Responsive Styles */

@media (max-width: 90em) {
html {font-size: 57.5%;}
.constrain, .drop-menu-content {max-width: 1000px;}
.slider-container {min-height: 500px;}
.slider-overlay-content {bottom: 4.5rem;}
.header {height: 166px;}
figcaption {padding: 2rem;}
.main-nav-link {padding: 2.8rem 2.5rem; font-size: 1.8rem;}
.drop-menu {margin-left: -221.5%;}
.sub-nav-content {padding: 0 2rem;}
.sub-nav-future-1, .sub-nav-current-1, .sub-nav-faculty-1, .sub-nav-alumni-1 {padding-left: 0; padding-right: 3.5rem;}
.future-menu:after {left: 45.5%;}
.current-menu:after {left: 50.4%;}
.faculty-menu:after {left: 55.2%;}
.alumni-menu:after {left: 61%;}
.content-area-left {padding-right: 4rem;}
.content-area-right {padding-left: 4rem;}
.tri-column .content-area-center {padding: 0 2rem;}
.tri-column .content-area-right {padding-left: 2rem;}
.tri-column .content-area-left {padding-right: 2rem;}
.research .slider-overlay-right {margin-right: 4rem;}
.research-play {left: 40.5%; bottom: 52.5%;}
.social-upper, .slideshow {min-height: 39rem;}
.pres-message {margin-top: -.5rem;}
.pres-updates-content {padding: 1.5rem 3rem; min-height: 22rem;}
}

@media (max-width: 64em) {
html {font-size: 52.5%;}
.constrain, .drop-menu-content {padding-left: 2rem; padding-right: 2rem;}
.header {height: 24rem;}
.header-content {max-width: 1024px;}
.primary-logo {padding-left: 5rem;}
.txst-search {top: 4rem; padding-right: 5rem;}
.main-nav {border-top: 1px solid #d1c7b7; bottom: 0; left: 0; width: 100%; background: #e8e3db; text-align: center;}
.main-nav-link {padding: 2.2rem 3.2rem; font-size: 1.8rem;}
.main-nav-start {padding-left: 3.2rem !important;}
.main-nav-end {padding-right: 3.2rem !important;}
.drop-menu {margin-left: -200%; top: 5.8rem;}
.drop-menu-content {max-width: 768px;}
.future-menu:after {left: 44.1%;}
.current-menu:after {left: 47.5%;}
.faculty-menu:after {left: 50.7%;}
.alumni-menu:after {left: 54.5%;}
.sub-nav-content {margin: 4rem 0; text-align: left; padding: 0 1.5rem;}
.sub-nav-future-2, .sub-nav-current-2, .sub-nav-faculty-2, .sub-nav-alumni-2 {padding-left: 0; margin-left: -1rem;}
.sub-nav-future-1, .sub-nav-current-1, .sub-nav-faculty-1, .sub-nav-alumni-1 {padding-left: 0; padding-right: 3.5rem;}
.sub-nav-content ul {padding-left: .5rem;}
.sub-nav-content li {margin: 1.5rem 0;}
.sub-nav-button {border: 2px solid #887860; line-height: 2.2rem; padding: 1rem 2rem !important;}
.slider-container {min-height: 375px;}
.slider-overlay-content {bottom: 3.5rem;}
.slider .play-overlay {width: 5.5rem; height: 5.5rem; margin-top: -6rem;}
.slider .play-overlay:after {border-width: 0.8rem 0 0.8rem 1.4rem; margin-top: -0.8rem;}
.slider-overlay-right {right: 4rem;}
.messaging {font-size: 2.8rem;}
figcaption {padding: 1.8rem;}
.emergency-constrain {max-width: 70%;}
.content-area-left {padding-right: 1.5rem;}
.content-area-right {padding-left: 1.5rem;}
.tri-column .content-area-center {padding: 0 1.2rem;}
.tri-column .content-area-right {padding-left: 1.2rem;}
.tri-column .content-area-left {padding-right: 1.2rem;}
.news-links {padding: 1.5rem;}
.news-jump {padding: 0 1.5rem;}
.news-jump a {display: inline-block;}
.jump-left {text-align: right; display: block;}
.jump-right {text-align: right; margin-top: 2rem; display: block;}
.news-date {padding-bottom: 0.8rem;}
.events-container {padding: 3rem;}
.cal-jumps li {margin-right: 1.2rem;}
.cal-jump-header {margin-right: 1rem;}
.cal-icon, .cal-icon-2 {margin-right: 2rem;}
.cal-icon-3 {margin-right: 0.5rem; right: 1rem}
.research-headline {padding-bottom: 0.8rem;}
.research .slider-overlay-right {margin-right: 1.5rem;}
.research-play {left: 42.5%; bottom: 51.5%;}
.tweet {font-size: 2.2rem;}
.pres-bio {margin-top: 1rem; line-height: 2.4rem;}
.pres-updates-content {padding: .5rem .5rem .5rem 2rem; min-height: 0;}
}

@media (max-width: 48em) {
.super-list, .txst-search, .main-nav {display: none;}
.content-area-right {padding-left: 0;}
.content-area-left {padding-right: 0;}
.tri-column .content-area-right {padding-left: 0;}
.tri-column .content-area-left {padding-right: 0;}
.tri-column .content-area-center {padding: 0;}
.header {height: 18rem;}
.research .slider-overlay-right {margin-right: 0;}
.footer {text-align: center;}
.primary-footer-links {text-align: center;}
.apply-now {float: none; padding: 2rem 6rem !important; display: block;}
.primary-logo {padding: 0; text-align: center;}
.contact-header {margin-top: 5.5rem}
.u-social a {margin: 0;}
.footer-logo {margin: 7.5rem auto;}
.quick-links {margin-bottom: 3rem !important;}
.legal-footer {padding: 4rem 0 3rem 0;}
.legal-footer ul {padding: 0;}
.legal-footer li {display: inline;}
.legal-footer li:after {content: " - "; color: #bbbbbb;}
}




