/*
Gato Homepage 2015
Author: Michael Edelstone
edelstone@txstate.edu or michael.edelstone@gmail.com
*/

/* Base styles */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {font-family: 'Univers W01', Helvetica, Calibri, Arial, sans-serif;}
html {font-size: 62.5%; position: relative; min-height: 100%;}
body {height: auto; min-height: 100%; font-weight: 100; text-rendering: optimizeLegibility; background-color: #6A5638;}
.layout {overflow: hidden;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.reverse-float {float: right;}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.layout {background-color: #FFFFFF;}
.image-link {padding: 0; margin: 0;}
.image-link:hover {background: transparent;}
a {padding: 1px 3px; margin: -1px -3px; color: #005481; text-decoration: underline;}
a:hover {background: #E8E3DB;}
.constrain {max-width: 1200px; margin: auto;}
.hover-fx-1 {-webkit-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1), transform 0.2s cubic-bezier(0, 0.5, 0.25, 1); -moz-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1), transform 0.2s cubic-bezier(0, 0.5, 0.25, 1); -o-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1), transform 0.2s cubic-bezier(0, 0.5, 0.25, 1); transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1), transform 0.2s cubic-bezier(0, 0.5, 0.25, 1);}

/* Super User Menu */

.super-user-menu {width: 100%; background: #6a5638;}
.super-list {font-size: 1.1rem; letter-spacing: 1px; margin: 0; padding: 0; text-transform: uppercase; list-style-type: none; overflow: auto; font-weight: 400;}
.super-list-left {float: left; margin-left: -1.4rem;}
.super-list-right {float: right; margin-right: -1.4rem;}
.super-list li {float: left;}
.super-list a {color: #FFF; text-decoration: none; margin: 0; padding: 1.4rem; display: inline-block;}
.super-list a:hover {background: #79674C; text-decoration: none;}
.super-list i {font-size: 1.5rem; line-height: 0; margin-left: 0.6rem; vertical-align: middle;}

/* Main Header, Logo, Search */

.header {width: 100%; background: #e8e3db; background: -moz-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8e3db), color-stop(100%, #d1c7b7)); background: -webkit-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -o-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -ms-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: linear-gradient(to bottom, #e8e3db 0%, #d1c7b7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e3db', endColorstr='#d1c7b7', GradientType=0 ); border-bottom: 1px solid #6a5638; height: 184px;}
.header-content {margin: 3.5rem auto;}
.primary-logo img {max-width: 270px;}
.txst-search {overflow: auto; position: relative; top: 1.75em;}
.search-bar {padding-bottom: .4rem; float: right; width: 300px; border-bottom: 2px solid #6a5638; position: relative;}
.search-bar .search {border: none; width: 90%; background: transparent; font-size: 1.6rem; color: #222222; font-weight: 400;}
::-webkit-input-placeholder {color: #887860; font-weight: 100;}
input[type="search"]:focus, button {outline: none;}
.magnifier {background: transparent; color: #6a5638; position: absolute; right: 0; border: none; font-size: 1.7rem; padding: 0;}

/* Main Navigation */

.main-nav {float: right; position: relative; bottom: 5rem;}
.main-nav-list {list-style-type: none; padding: 0; margin: 0;}
.main-nav-list li {display: inline-block;}
.main-nav-list a {display: block; color: #501214; text-decoration: none; font-weight: 700; font-size: 2rem; padding: 2.8rem;}
.main-nav-list a:hover {background: transparent;}
.main-nav-end {padding-right: 0 !important;}
.future-link:hover .future-menu, .current-link:hover .current-menu, .faculty-link:hover .faculty-menu, .alumni-link:hover .alumni-menu {opacity: 1; visibility: visible;}
.drop-menu {width: 500% !important; margin-left: -217.8%; background: #6a5638; padding: 0; position: absolute; top: 7rem; left: 0; width: 100%; opacity: 0; visibility: hidden; z-index: 9999; box-shadow: 0px 50px 50px -60px #000; transition: all .3s cubic-bezier(0, 0.5, 0.25, 1) .1s;}
.drop-menu-content {max-width: 1200px; margin: auto; font-size: 0;}
.drop-menu:after {border: solid transparent; border-bottom-color: #6a5638; border-width: 0rem 2rem 2rem 2rem; content: ""; position: absolute; top: -1rem; cursor: pointer;}
.future-menu:after {left: 45.4%;}

/* Slider */

.slider {min-height: 600px; position: relative; background: #501214;}
.slider-image {opacity: 0; background: #501214 url("../images/slider-600-1.jpg") no-repeat 50% 45%; background-size: cover; position: absolute; height: 100%; width: 100%;}
.slider-overlay-left {width: 50%; float: left; position: relative; left: -3rem; opacity: 0;}
.slider-overlay-right {width: 50%; float: right; text-align: right; position: relative; top: 2.4rem; opacity: 0;}
.slider-overlay-content {position: relative; top: 49rem;}
.slider-overlay-left a {margin: 0; padding: 0;}
.messaging {color: #ffffff; background: #501214; text-decoration: none; font-size: 3.2rem; padding: 1.5rem 3rem 1.5rem 2rem !important; font-weight: 400; border-bottom: 3px solid #400e10;}
.messaging:hover {background: #622a2b;}
.messaging:active {position: relative; top: 3px; border-bottom: none; transition: none;}
.play-overlay {-webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 8rem; background: #501214; position: absolute; width: 6.5rem; height: 6.5rem; margin-top: -9rem; cursor: pointer; border: 3px solid #400e10;}
.play-overlay:hover {-webkit-transform: scale(1.15); -moz-transform: scale(1.15); -ms-transform: scale(1.15); -o-transform: scale(1.15); transform: scale(1.15); background: #622a2b;}
.play-overlay:active {background: #501214;}
.play-overlay:after {left: 0; right: 0; margin: 0 auto; position: absolute; border: solid transparent; border-left-color: #fff; border-width: 1rem 0 1rem 1.6rem; content: ""; height: 0; width: 0; position: absolute; top: 50%; margin-top: -10px; left: 4px;}
.slider-overlay-right a {margin: 0; padding: 0; color: #ffffff; font-size: 1.8rem; background: rgba(0,0,0,0.6); padding: 1rem 1.4rem; margin-left: 0.3rem;}
.slider-overlay-right a:hover {background: #000000;}

/* Top Links */

.top-links {width: 100%; background: #363534; text-align: center;}
.top-links a {margin: 0; padding: 0; color: #FFFFFF; font-weight: 700; text-decoration: none; display: block; font-size: 2rem; padding: 1.5rem; transition: all .15s cubic-bezier(0, 0.5, 0.25, 1);}
.top-links a:hover {background: #FFFFFF; color: #363534;}