/*
Gato Homepage 2015
Author: Michael Edelstone
edelstone@txstate.edu or michael.edelstone@gmail.com
*/

/* Fonts */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {font-family: 'Univers W01', Helvetica, Calibri, Arial, sans-serif;}
.use-garamond {font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif}

/* Base styles */

html {font-size: 62.5%; position: relative; min-height: 100%;}
body {height: auto; min-height: 100%; font-weight: 100; text-rendering: optimizeLegibility; background-color: #6A5638; color: #222222; font-size: 1.6rem;}
::-moz-selection {background: #E8E3DB; text-shadow:none}
::selection{background: #E8E3DB; text-shadow:none}
img {max-width: 100%; display: block;}
figure {margin: 0; background: #e8e3db;}
figcaption {padding: 0 2rem;}
figcaption p {margin: 0;}
h2 {font-size: 28px; margin-bottom: 3.5rem; margin-top: .1rem; font-weight: 400;}
h2 a {padding: 0; margin: 0; color: #222222; text-decoration: none;}
h2 a:hover {background: transparent;}
.layout {overflow: hidden;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.reverse-float {float: right;}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.layout {background-color: #FFFFFF;}
.image-link {padding: 0; margin: 0; display: inline-block;}
.image-link-2 {display: inline-block; padding: 0; margin: 0; -webkit-transition: opacity 0.2s ease; -moz-transition: opacity 0.2s ease; -o-transition: opacity 0.2s ease; transition: opacity 0.2s ease;}
.image-link:hover {background: transparent;}
.image-link-2:hover {background: transparent; opacity: .85;}
a {-webkit-box-decoration-break: clone; box-decoration-break: clone; padding: 3px 5px; margin: -3px -5px; color: #005481; text-decoration: underline;}
a:hover {background: #E8E3DB;}
.constrain {max-width: 1200px; margin: auto;}
.hover-fx-1 {-webkit-transition: border 0.2s cubic-bezier(0, 0.5, 0.25, 1), background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1), transform 0.2s cubic-bezier(0, 0.5, 0.25, 1); -moz-transition: border 0.2s cubic-bezier(0, 0.5, 0.25, 1), background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1), transform 0.2s cubic-bezier(0, 0.5, 0.25, 1); -o-transition: border 0.2s cubic-bezier(0, 0.5, 0.25, 1), background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1), transform 0.2s cubic-bezier(0, 0.5, 0.25, 1); transition: border 0.2s cubic-bezier(0, 0.5, 0.25, 1), background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1), transform 0.2s cubic-bezier(0, 0.5, 0.25, 1);}
.hover-fx-2 i {position: relative;}
.hover-fx-2:hover i {animation: chevron 1.2s ease-in-out infinite alternate;}
@keyframes chevron { from {right: 0;} to {right: .5rem;} }
.hover-fx-3 {-webkit-transition: background 0.8s ease; -moz-transition: background 0.8s ease; -o-transition: background 0.8s ease; transition: background 0.8s ease;}
.hover-fx-4 {-webkit-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1); -moz-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1); -o-transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1); transition: background-color 0.2s cubic-bezier(0, 0.5, 0.25, 1);}

/* Super User Menu */

.super-user-menu {width: 100%; background: #6a5638;}
.super-list {font-size: 1.1rem; letter-spacing: 1px; margin: 0; padding: 0; text-transform: uppercase; list-style-type: none; font-weight: 400;}
.super-list-left {float: left; margin-left: -1.4rem;}
.super-list-right {float: right; margin-right: -1.4rem;}
.super-list li {float: left;}
.super-list a {color: #FFF; text-decoration: none; margin: 0; padding: 1.4rem; display: inline-block;}
.super-list a:hover {background: #79674C; text-decoration: none;}
.super-list i {font-size: 1.5rem; line-height: 0; margin-left: 0.6rem; vertical-align: middle;}
.more-tools:hover .super-list-sub {display: block; opacity: 1; visibility: visible;}
.more-tools {position: relative;}
.more-tools:hover {background: #79674C;}
.super-list-sub {display: none; opacity: 0; visibility: hidden; position: absolute; width: 100%; top: 100%; left: 0; padding: 0; margin: 0; list-style-type: none; background: #6a5638; z-index: 9999; letter-spacing: 0;}
.super-list-sub li {width: 100%;}
.super-list-sub a {text-transform: none; display: block; padding: 0.6rem 1.4rem;}
.super-list-sub-first {padding-top: 1.4rem !important;}
.super-list-sub-last {padding-bottom: 1.4rem !important;}
.super-list-sub a:hover {background: transparent; text-decoration: underline;}

/* Main Header, Logo, Search */

.header {width: 100%; background: #e8e3db; background: -moz-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8e3db), color-stop(100%, #d1c7b7)); background: -webkit-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -o-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: -ms-linear-gradient(top, #e8e3db 0%, #d1c7b7 100%); background: linear-gradient(to bottom, #e8e3db 0%, #d1c7b7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e3db', endColorstr='#d1c7b7', GradientType=0 ); border-bottom: 1px solid #6a5638; height: 184px;}
.header-content {position: relative; padding: 3.5rem 0; height: 100%;}
.primary-logo img {max-width: 270px;}
.txst-search {overflow: auto; position: relative; top: 1.35rem;}
.search-bar {padding-bottom: .4rem; float: right; width: 30rem; border-bottom: 2px solid #6a5638; position: relative;}
.search-bar .search {border: none; width: 90%; background: transparent; font-size: 1.6rem; color: #222222; font-weight: 400;}
::-webkit-input-placeholder {color: #887860; font-weight: 100;}
input[type="search"]:focus, button {outline: none;}
.magnifier {background: transparent; color: #6a5638; position: absolute; right: 0; border: none; font-size: 1.7rem; padding: 0;}

/* Main Navigation */

.main-nav {position: absolute; bottom: 1.2rem; right: 0.4rem;}
.main-nav-list {list-style-type: none; padding: 0; margin: 0;}
.main-nav-list li {display: inline-block;}
.main-nav-link{display: block; color: #501214; text-decoration: none; font-weight: 700; font-size: 2rem; padding: 2.8rem;}
.main-nav-link:hover {background: transparent;}
.main-nav-end {padding-right: 0 !important;}
.main-nav-start {padding-left: 0 !important;}
.future-link:hover .future-menu, .current-link:hover .current-menu, .faculty-link:hover .faculty-menu, .alumni-link:hover .alumni-menu {opacity: 1; visibility: visible;}
.drop-menu {width: 500% !important; margin-left: -220.5%; background: #6a5638; padding: 0; position: absolute; top: 7rem; left: 0; width: 100%; opacity: 0; visibility: hidden; z-index: 9999; box-shadow: 0px 50px 60px -50px #000; transition: all .3s cubic-bezier(0, 0.5, 0.25, 1) .1s; padding: 1rem 0;}
.future-menu {padding-bottom: 0;}
.drop-menu-content {max-width: 1200px; margin: auto; font-size: 0;}
.drop-menu:after {border: solid transparent; border-bottom-color: #6a5638; border-width: 0rem 2rem 2rem 2rem; content: ""; position: absolute; top: -1rem; cursor: pointer;}
.future-menu:after {left: 45.3%;}
.current-menu:after {left: 50.3%;}
.faculty-menu:after {left: 55.1%;}
.alumni-menu:after {left: 60.8%;}
.sub-nav-content {font-size: 1.4rem; padding: 0 4rem; color: #FFFFFF; margin: 5rem 0;}
.sub-nav-caption {font-size: 1.5rem; font-weight: 400; margin: 1.2rem 0 0 0;}
.sub-nav-content a {color: #ffffff; text-decoration: none; padding: 5px; margin: -5px;}
.sub-nav-content a:hover {background: #501214;}
.sub-nav-guide {text-transform: uppercase; margin-bottom: -.4rem;}
.sub-nav-future-1, .sub-nav-current-1, .sub-nav-faculty-1, .sub-nav-alumni-1 {padding-left: 0; padding-right: 4rem;}
.sub-nav-future-2, .sub-nav-current-2, .sub-nav-faculty-2, .sub-nav-alumni-2 {font-weight: 400;}
.sub-nav-future-3, .sub-nav-current-3, .sub-nav-faculty-3, .sub-nav-alumni-3 {border-left: 2px solid #887860;}
.sub-nav-future-4, .sub-nav-current-4, .sub-nav-faculty-4, .sub-nav-alumni-4 {padding-right: 0;}
.grad-guide {margin-top: 4rem;}
.sub-nav-button {margin: 3rem 0 0 0 !important; padding: 1.5rem 3rem !important; border: 1px solid #fff; text-transform: uppercase; display: inline-block; border: 2px solid #887860; border-radius: .3rem;}
.sub-nav-button:hover {border: 2px solid #bbab92;}
.sub-nav-button-2 {margin-top: 1rem !important;}
.sub-nav-button-3 {padding: 1.1rem 3rem !important;}
.sub-nav-button i {font-size: 2.5rem; margin-left: 1.5rem; vertical-align: sub;}
.sub-nav-content ul {padding-left: 1rem;}
.sub-nav-current-2 ul, .sub-nav-faculty-2 ul, .sub-nav-alumni-2 ul {padding-left: 0;}
.sub-nav-content li {line-height: 2rem; margin: 2rem 0; display: block;}
.drop-caption-link {text-decoration: underline !important;}
.drop-caption-link:hover {text-decoration: none !important; background: transparent !important;}

/* Slider */

.slider-container {min-height: 600px; position: relative; background: #501214;}
.slider-image {opacity: 0; background: #501214 url("../images/slider-600-1.jpg") no-repeat 50% 45%; background-size: cover; position: absolute; height: 100%; width: 100%;}
.slider-overlay {position: relative; height: 100%; width: 100%;}
.slider-overlay-left {width: 50%; float: left; position: relative; left: -3rem; opacity: 0;}
.slider-overlay-right {width: 50%; text-align: right; position: absolute; opacity: 0; bottom: 0; right: 0;}
.slider-overlay-content {position: absolute; width: 100%; bottom: 5.5rem;}
.slider-overlay-left a {margin: 0; padding: 0;}
.messaging {color: #ffffff; background: #501214; text-decoration: none; font-size: 3.2rem; padding: 1.5rem 3rem 1.2rem 2rem !important; font-weight: 400; border-bottom: 3px solid #400e10; display: inline-block; line-height: 4.2rem;}
.messaging:hover {background: #622a2b;}
.messaging:active {border-bottom: none;}
.play-overlay {-webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 8rem; background: #501214; position: absolute; width: 6.5rem; height: 6.5rem; margin-top: -7.5rem; cursor: pointer; border: 3px solid #400e10;}
.play-overlay:hover {-webkit-transform: scale(1.15); -moz-transform: scale(1.15); -ms-transform: scale(1.15); -o-transform: scale(1.15); transform: scale(1.15); background: #622a2b;}
.play-overlay:active {background: #501214;}
.play-overlay:after {left: 0; right: 0; margin: 0 auto; position: absolute; border: solid transparent; border-left-color: #fff; border-width: 1rem 0 1rem 1.6rem; content: ""; height: 0; width: 0; position: absolute; top: 50%; margin-top: -10px; left: 4px;}
.slider-overlay-right a {margin: 0; padding: 0; color: #ffffff; font-size: 1.8rem; background: rgba(0,0,0,0.6); padding: 1rem 1.4rem; margin-left: 0.3rem; display: inline-block;}
.slider-overlay-right a:hover {background: #000000;}

/* Top Links */

.top-links {width: 100%; background: #363534; text-align: center;}
.top-links a {margin: 0; padding: 0; color: #FFFFFF; font-weight: 700; text-decoration: none; display: block; font-size: 2rem; padding: 1.5rem; transition: all .15s cubic-bezier(0, 0.5, 0.25, 1);}
.top-links a:hover {background: #FFFFFF; color: #363534;}

/* Page Content */

.page-content {width: 100%; background: #FFF; line-height: 2rem;}
.content-row {padding: 5rem 0 6rem 0;}
.content-area {position: relative;}
.content-area-left {padding-right: 6rem;}
.content-area-right {padding-left: 6rem;}
.page-content .button-chevron {margin-left: 1.8rem;}
.row-1 {background: #FFFFFF;}
.row-2 {background: #e8e3db;}

/* News */

.news-date {font-size: 1.4rem; font-style: italic; padding: 2rem 0 1.2rem 0;}
.news-headline {font-weight: 700; font-size: 2rem; padding-bottom: 2.5rem; line-height: 2.6rem;}
.news-headline a {color: #501214;}
.news-headline a:hover {text-decoration: none;}
.news-links {padding: 2rem;}
.news-links p {line-height: 2.4rem;}
.news-jump {text-transform: uppercase; font-weight: 700; padding: 0 2rem; margin-top: .5rem;}
.news-jump a {text-decoration: none; display: inherit;}
.jump-right {float: right;}

/* Events and Important Dates */

#tabs ul {padding: 0; margin: 0; list-style-type: none; overflow: auto;}
#tabs li {display: inline-block;}
#tabs .ui-state-default a {color: #767676; outline: none;}
#tabs .ui-state-active a {color: #222222; text-decoration: underline;}
#tabs .ui-state-hover a {color: #222222;}
.events-tab {margin-right: 5rem;}
.events-container {background: #501214; padding: 4rem; color: #FFFFFF;}
.events-container a {color: #FFFFFF;}
.events-container a:hover {background: transparent; text-decoration: none;}
.event-block {overflow: hidden; margin-bottom: 4rem;}
.cal-icon, .cal-icon-2 {text-align: center; margin-right: 3rem; float: left; width: 8.5rem;}
.cal-icon-2 {background: #6a5638;}
.cal-icon p {margin: 0; display: inline-block; width: 100%;}
.cal-icon a {text-decoration: none; display: block; margin: 0;}
.cal-icon-2 a {font-weight: 400; text-decoration: none; display: block; padding: .8rem 0; margin: 0; line-height: 2.3rem;}
.cal-date a {font-size: 4.2rem; padding: 2rem 0 1.8rem 0;}
.cal-date {background: #622a2b;}
.cal-month a {text-transform: uppercase; font-weight: 400; font-size: 1.3rem; letter-spacing: 1px; background: #6a5638; padding: .5rem 0 .3rem 0; border-bottom: 1px solid #887860;}
.cal-month a:hover {background: #6a5638;}
.event-title a {font-size: 2rem; font-weight: 700;}
.event-time {margin-top: -0.5rem;}
.cal-range {margin: 0;}
.range-start, .range-to, .range-end {display: block;}
.range-to {font-size: 1.3rem;}
.more-events {display: block; text-decoration: none; text-transform: uppercase; font-weight: 700; text-align: center; background: #622a2b; color: #FFFFFF !important; padding: 1.8rem; margin: 0; border-radius: 0.3rem; border: 3px solid #622a2b;}
.more-events:hover {background: #501214 !important;}
.more-imp-dates {margin-top: 2.7rem;}
.cal-jumps {margin-top: 3.5rem; font-size: 1.4rem;}
.cal-jump-header {font-weight: bold;}
.cal-jumps ul {text-align: center;}
.cal-jumps li {margin-right: 2.5rem;}
.fade-bg {background: #501214;}
.cal-icon-3 {margin-right: 2rem; position: relative; right: .5rem; z-index: 1;}
.cal-icon-3 .cal-date {background: #501214;}
.cal-icon-3 .cal-date a {padding-top: 0.5rem;}
.cal-icon-3 .cal-month {vertical-align: super;}
.cal-icon-3 .cal-month a {background: #501214; border-bottom: none;}
.cal-icon-3 .cal-month a:hover {background: #501214;}
.imp-date-block .event-title {position: relative; top: 0.5rem; z-index: 0;}
.imp-date-block {margin-bottom: 2rem;}

/* Research */
.research {position: relative;}
.research-slider {background: #d1c7b7; position: relative;}
.research-headline {padding: 2.2rem 0 1.2rem 0;}
.research-text {padding-bottom: 2.2rem;}
.research-headline a {color: #501214; font-weight: 700;}
.research-headline a:hover {background: transparent; text-decoration: none;}
.nav-dots {text-align: center; font-size: 1.1rem; color: #c4c4c4; position: absolute; left: 39.5%;}
.active-dot {color: #501214;}
.nav-dots i {margin: auto 0.6rem; cursor: pointer;}
.nav-dots i:hover {color: #222222;}
.research-play {background: #6a5638; border: 3px solid #55452d; left: 39.5%; bottom: 49.5%;}
.research-play:hover {background: #79674c;}
.research .slider-overlay-right {position: absolute; top: 1.5rem; right: 0; margin-right: 6rem;}
.research .slider-overlay-right a {margin-left: -0.3rem; background: #d1c7b7; color: #363534;} 
.research .slider-overlay-right a:hover {background: #6a5638; color: #ffffff;}
.gallery_link, .primary_link {margin: 0; padding: 0;}


/* Pride */
.pride-image {position: relative;}
.pride-overlay {position: absolute; height: 100%; width: 100%; top: 0; background: rgba(106,86,56,.85); cursor: pointer;}
.pride-overlay:hover {background: rgba(106,86,56,.6);}
.pride-overlay:hover p {background: #6a5638;}
.bab {margin-bottom: 2rem;}
.pride-overlay p {position: absolute; padding: 2rem; margin: 0; bottom: 0; left: 0; color: #FFF; font-size: 3.5rem; font-weight: 400;}




